@import '../../../styles.scss';

.profileImage{
    background-image: url('../../../assets/img/profile.png');
    background-size: 250px;
    height: 250px;
    width: 250px;
    cursor: pointer;
  }
.editImage{
    background-image: url('../../../assets/img/editButton.png');
    background-size: 250px;
    height: 250px;
    width: 250px;
    cursor: pointer;
  }
.storyImage{
    background-image: url('../../../assets/img/diary.png');
    background-size: 250px;
    height: 250px;
    width: 250px;
    cursor: pointer;

  }
  .imageHover:hover{
    opacity: 0.5;
    color: $silver;
  }
  .entry {
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    color: $snow;
    margin-left: 27.354%;
    margin-right: 27.354%;
    margin-top: 20px;
  }