<form>
    <h1>Your Diary Storys</h1>
    <div class="">
        <div class="entry">
            <div class="day">Day</div>
            <div class="story">Story</div>
            <div class="options">Remove</div>
        </div>
        <div class="entry" *ngFor="let story of stories; let i = index">
            <div class="day">{{story.date}}</div>
            <div class="story">{{story.story}}</div>
            <div class="options"><button (click)="delete(i)">Delete Entrie</button></div>
        </div>
    </div>
</form>