/* You can add global styles to this file, and also import other style files */

/*   Main Colors   */
$main: #313D4D;
$darkblue: #242F39;
$ocean: #317DC1;
$atlantis: #9BBF29;
$snow: #FFFFFF;
/*   Main Colors   */

/*   Secondary Colors   */
$berry: #CF021B;
$mouse: #7A7A7A;
$silver: #BABABA;
/*   Secondary Colors   */