.entry {
    font-family: "Source Sans Pro", sans-serif;
    color: #FFFFFF;
    margin-left: 27.354%;
    margin-right: 27.354%;
    background-color: #313D4D;
    text-align: center;
    padding: 15px;
  }